altgraph==0.17.4
amqp==5.2.0
attrs==23.2.0
billiard==4.2.0
blinker==1.7.0
celery==5.4.0
certifi==2024.2.2
charset-normalizer==3.3.2
click==8.1.7
click-didyoumean==0.3.1
click-plugins==1.1.1
click-repl==0.3.0
colorama==0.4.6
customtkinter==5.2.2
darkdetect==0.8.0
decorator==5.1.1
Flask==3.0.3
future==1.0.0
geocoder==1.38.1
idna==3.6
itsdangerous==2.1.2
Jinja2==3.1.3
jsonschema==4.22.0
jsonschema-specifications==2023.12.1
kombu==5.3.7
MarkupSafe==2.1.5
packaging==23.2
pefile==2023.2.7
pillow==10.3.0
prompt-toolkit==3.0.43
psycopg2==2.9.9
pyinstaller==6.6.0
pyinstaller-hooks-contrib==2024.6
pyperclip==1.8.2
pyserial==3.5
python-dateutil==2.9.0.post0
pywin32==306
pywin32-ctypes==0.2.2
ratelim==0.1.6
referencing==0.35.1
requests==2.31.0
rpds-py==0.18.1
screeninfo==0.8.1
six==1.16.0
tkintermapview==1.29
tzdata==2024.1
Unidecode==1.3.8
urllib3==2.2.1
vine==5.1.0
wcwidth==0.2.13
Werkzeug==3.0.2
